:root {
  --beige: rgba(245, 245, 220, 1);
  --menu-font-family: "OpenDyslexic", sans-serif;
  --menu-font-size: 40px;
  --menu-font-style: normal;
  --menu-font-weight: 400;
  --menu-letter-spacing: 0px;
  --menu-line-height: normal;
  --pale-blue: rgba(224, 247, 250, 1);
}

